[submodule "libexpat"]
	path = libexpat
	url = https://github.com/libexpat/libexpat.git
[submodule "apr"]
	path = apr
	url = https://github.com/apache/apr.git
[submodule "subversion"]
	path = subversion
	url = https://github.com/apache/subversion.git
[submodule "apr-util"]
	path = apr-util
	url = https://github.com/apache/apr-util.git
[submodule "apr-iconv"]
	path = apr-iconv
	url = https://github.com/apache/apr-iconv.git
[submodule "serf"]
	path = serf
	url = https://github.com/apache/serf.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "libxcrypt"]
	path = libxcrypt
	url = https://github.com/besser82/libxcrypt.git
[submodule "sqlite-amalgamation"]
	path = sqlite-amalgamation
	url = https://github.com/holdxen/sqlite-amalgamation.git
[submodule "cyrus-sasl"]
	path = cyrus-sasl
	url = https://github.com/cyrusimap/cyrus-sasl.git
